<article>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label for="myFirst" class="form-label">My first impure</label>
        <input type="text" name="myFirst" [(ngModel)]="myFirst" class="form-control" id="myFirst">
      </div>
    </div>
  </div>
  <div class="row g-3 align-items-center">
    <div class="col-4 text-center p-3 fs-4" (mousemove)="noop()">
      Mouse here🐁
    </div>
    <div class="col-2">
      {{myFirst | myFirst}}
    </div>
    <div class="col-3">
      {{myFirst | myFirstImpure}}
    </div>
    <div class="col-3">
      {{usingAMethod(myFirst)}}
    </div>
  </div>
</article>
