<ul ngbNav class="nav-tabs mb-3" activeId="top-5">
  <li ngbNavItem="recap">
    <a ngbNavLink routerLink="recap/monospace" routerLinkActive="active">Recap</a>
  </li>
  <li ngbNavItem="matrix">
    <a ngbNavLink routerLink="matrix" routerLinkActive="active">Matrix</a>
  </li>
  <li ngbNavItem="query">
    <a ngbNavLink routerLink="query" routerLinkActive="active">Query</a>
  </li>
  <li ngbNavItem="resolver">
    <a ngbNavLink routerLink="resolve/legeplads.1" routerLinkActive="active">Resolver</a>
  </li>
  <li ngbNavItem="guard">
    <a ngbNavLink routerLink="guard" routerLinkActive="active">Guard</a>
  </li>
</ul>
<router-outlet></router-outlet>