<article class="row w-100" [formGroup]="fg">
  <div class="col">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" formControlName="useQueryParams" id="useQueryParams">
      <label class="form-check-label" for="useQueryParams">
        Use query parameters
      </label>
    </div>
    <input type="text" placeholder="Filter playgrounds" class="w-100 form-control" autofocus formControlName="filter">
    <ul class="list-group mt-3">
      <ng-container  *ngIf="playgrounds$ | async as playgrounds" >
        <a *ngFor="let p of playgrounds; trackBy: trackById" class="list-group-item"[routerLink]="[p.id]" queryParamsHandling="merge">
          {{p.name}}
        </a>
      </ng-container>
    </ul>
  </div>
</article>
<article class="row w-100 mt-3">
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</article>