<aside tabindex="1">
  <nav>
    <div class="list-group">
      <div class="list-group-item">
        <input id="filter" type="text" [formControl]="filterControl" autofocus placeholder="Filter playgrounds">
      </div>
      @for (playground of playgrounds; track playground.id) {
        <a
          class="flex-item list-group-item d-flex list-group-item-action justify-content-between"
          [class.active]="playground.id === selectedPlayground?.id"
          [routerLink]="['/', playground.id]"
          >
          <div class="d-flex flex-column justify-content-between">
            <h6 class="mb-1">{{playground.name}}
              <span class="badge bg-primary badge-pill">{{playground.position | distance: (location$ | async) | humanizeDistance}}</span>
            </h6>
            <small>{{playground.description | defaultDescription}}</small>
          </div>
          <div class="d-none d-sm-block">
            <div class="btn-group">
              <button class="btn btn-sm btn-secondary" (click)="edit.next(playground); $event.stopPropagation(); $event.preventDefault()">
                <fa-icon [icon]="['fas', 'edit']" [fixedWidth]="true"></fa-icon>
              </button>
            </div>
          </div>
        </a>
      }
    </div>
  </nav>
</aside>
