<aside tabindex="1">
  <nav>
    <div class="list-group">
      @for (playground of playgrounds(); track playground.id) {
      <button
        class="flex-item list-group-item d-flex list-group-item-action justify-content-between"
        (click)="selectPlayground(playground)"
        [class.active]="selectedPlayground() === playground">
        <div class="d-flex flex-column justify-content-between">
          <h6 class="mb-1">{{playground.name}}
            <span class="badge bg-primary badge-pill">{{playground.position | distance: location() | humanizeDistance}}</span>
          </h6>
          <small>{{playground.description | defaultDescription}}</small>
        </div>
        <div>
          <ng-content select="button"></ng-content>
        </div>
      </button>
      }
    </div>
  </nav>
</aside>