<aside tabindex="1">
  <nav>
    <div class="list-group">
      @for (playground of playgrounds(); track playground.name) {
      <li
        class="flex-item list-group-item d-flex list-group-item-action justify-content-between"
        [class.active]="playground === selectedPlayground"
        (click)="selectPlayground(playground)">
        <div class="d-flex flex-column justify-content-between">
          <h6 class="mb-1">{{playground.name}}
            <span class="badge bg-primary badge-pill">{{playground.position | distance: (location$ | async) | humanizeDistance}}</span>
          </h6>
          <small>{{playground.description | defaultDescription}}</small>
        </div>
      </li>
      }
    </div>
  </nav>
</aside>
