<article>
  <div class="d-flex">
    <div class="traffic-light-container d-flex flex-column flex-item">
      <div class="trafic-light">
        <div [class.active]="state === 'red'" class="light red"></div>
      </div>
      <div class="trafic-light">
        <div [class.active]="state === 'yellow'" class="light yellow"></div>
      </div>
      <div class="trafic-light">
        <div [class.active]="state === 'green'" class="light green"></div>
      </div>
    </div>
    <div class="ml-5">
      <pre>
        <code>{{code}}</code>
      </pre>
    </div>
  </div>
</article>