<leaflet [center]="center" [markers]="markers$"></leaflet>
<ng-template #itemTemplate let-playground>
  <loop-sidebar-list-item
  [playground]="playground"
  [selected]="playground === (playground$ | async)"
  [location$]="location$">
  <button class="btn btn-sm btn-secondary" (click)="playground$.next(playground)">
    <fa-icon [icon]="['fas', 'check']"></fa-icon> 
  </button>
</loop-sidebar-list-item>  
</ng-template>
<loop-sidebar 
  [items]="playgrounds$ |async" 
  [itemTemplate]="itemTemplate"
  (selected)="playground$.next($event)">
</loop-sidebar>
<ng-template *ngIf="playground$ | async as playground" 
  [ngComponentOutlet]="footerComponent"
  [ndcDynamicInputs]="{ playground }">
</ng-template>
