<leaflet [center]="center" [markers]="markers$"></leaflet>
<loop-sidebar 
  [playgrounds]="playgrounds$ |async" 
  (selected)="playground$.next($event)">
</loop-sidebar>
<loop-footer *ngIf="playground$ | async as playground" [playground]="playground"></loop-footer>
