<nav class="navbar bg-dark shadow">
  <div class="container justify-content-between">
    <a class="navbar-brand d-flex align-items-center text-white" routerLink="/menu">
      <img class="me-2" src="assets/angular.svg" alt="Angular" width="30" height="24">
      Examples for Angular Foundation
    </a>
    <a href="https://github.com/bregnvig/LB1731" target="_blank">
      <img class="rounded rounded-circle text-white" height="24" title="Goto repository" src="assets/github.svg">
    </a>
  </div>
</nav>
<main class="container mt-4">
  <router-outlet></router-outlet>
</main>
<img height="250" width="250" class="fixed-bottom d-none d-md-block " ngSrc="assets/angular.png" routerLink="/menu">