<div class="container" style="margin-top: 20px">
  <div class="jumbotron">
    <div class="pane-container">
      <div class="pane fixed-size">
        <img src="angular.svg" height="100px">
      </div>
      <div class="pane pane-container">
        <div class="pane center-self">
          <p class="lead">Examples for the angular course. All examples have been written using angular 2
          </p>
          <a href="https://github.com/bregnvig"><i class="fa fa-lg fa-github"></i> source</a>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
