.box {
  &.red {
    background-color: orangered;
  }
  &.blue {
    background-color: lightskyblue;
  }
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
pre,
span {
  opacity: 0.5;
  &.fw-bolder {
    opacity: 1;
    color: var(--bs-success);
  }
}
