<ul ngbNav class="nav-tabs mb-3" activeId="life-cycle">
  <li ngbNavItem="life-cycle">
    <a ngbNavLink routerLink="life-cycle" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Life cycle</a>
  </li>
  <li ngbNavItem="content-projection">
    <a ngbNavLink routerLink="content-projection" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Content projection</a>
  </li>
  <li ngbNavItem="view-child">
    <a ngbNavLink routerLink="view-child" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">View child</a>
  </li>
  <li ngbNavItem="view-children">
    <a ngbNavLink routerLink="view-children" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">View children</a>
  </li>
  <li ngbNavItem="dynamic-component">
    <a ngbNavLink routerLink="dynamic-component" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Dynamic components</a>
  </li>
  <li ngbNavItem="ng-dynamic-component">
    <a ngbNavLink routerLink="ng-dynamic-component" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">NG dynamic components</a>
  </li>
  <li ngbNavItem="non-template-outlet">
    <a ngbNavLink routerLink="non-template-outlet" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Non template outlet</a>
  </li>
  <li ngbNavItem="template-outlet">
    <a ngbNavLink routerLink="template-outlet" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Template outlet</a>
  </li>
  <li ngbNavItem="change-detection">
    <a ngbNavLink routerLink="change-detection" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Change detection</a>
  </li>
</ul>
<router-outlet></router-outlet>