<ul ngbNav class="nav-tabs mb-3" activeId="life-cycle">
  <li ngbNavItem="life-cycle">
    <a ngbNavLink routerLink="life-cycle" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Life cycle</a>
  </li>
  <li ngbNavItem="content-projection">
    <a ngbNavLink routerLink="content-projection" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Content projection</a>
  </li>
  <li ngbNavItem="view-child">
    <a ngbNavLink routerLink="view-child" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">View child</a>
  </li>
  <li ngbNavItem="view-children">
    <a ngbNavLink routerLink="view-children" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">View children</a>
  </li>
</ul>
<router-outlet></router-outlet>