<ul ngbNav class="nav-tabs mb-3" activeId="imperative">
  <li ngbNavItem="without-di">
    <a ngbNavLink routerLink="without-di" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Without DI</a>
  </li>
  <li ngbNavItem="with-di">
    <a ngbNavLink routerLink="with-di" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">With DI</a>
  </li>
  <li ngbNavItem="with-injector">
    <a ngbNavLink routerLink="with-injector" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">With Injector</a>
  </li>
  <li ngbNavItem="locale">
    <a ngbNavLink routerLink="locale" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Locale</a>
  </li>
  <li ngbNavItem="levels">
    <a ngbNavLink routerLink="levels" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Injector levels</a>
  </li>
</ul>
<router-outlet></router-outlet>