/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "scss/variables";
@import '~bootstrap/scss/bootstrap';
@import "scss/bootswatch";

@font-face {
  font-family: 'Lato';
  src: url('assets/lato/Lato-Regular.ttf') format('truetype'),
  url('assets/lato/Lato-Black.ttf') format('truetype'),
  url('assets/lato/Lato-BlackItalic.ttf') format('truetype'),
  url('assets/lato/Lato-Bold.ttf') format('truetype'),
  url('assets/lato/Lato-BoldItalic.ttf') format('truetype'),
  url('assets/lato/Lato-Italic.ttf') format('truetype'),
  url('assets/lato/Lato-Light.ttf') format('truetype'),
  url('assets/lato/Lato-LightItalic.ttf') format('truetype'),
  url('assets/lato/Lato-Thin.ttf') format('truetype'),
  url('assets/lato/Lato-ThinItalic.ttf') format('truetype')
}

body {
  font-family: 'Lato', 'Times New Roman', Times, serif;
  height: 100vh;
  width: 100vw;
}

.flex-item {
  flex: 1 1 auto;
}

h5 {
  text-transform: uppercase;
}