<ul ngbNav class="nav-tabs mb-3" activeId="imperative">
  <li ngbNavItem="imperative">
    <a ngbNavLink routerLink="imperative" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Imperative</a>
  </li>
  <li ngbNavItem="rxjs-way">
    <a ngbNavLink routerLink="rxjs-way" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">RxJS way</a>
  </li>
  <li ngbNavItem="rxjs-way">
    <a ngbNavLink routerLink="rxjs-way-refresh" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">RxJS way Refresh</a>
  </li>
  <li ngbNavItem="memory-leak">
    <a ngbNavLink routerLink="memory-leak" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Subscribe/unsubscribe</a>
  </li>
</ul>
<router-outlet></router-outlet>