<div class="pane-container wrap">
  <div class="pane">
    <h4>Component</h4>
    <ul>
      <li><a [routerLink]="['/components/hello']">Hello world</a></li>
      <li><a [routerLink]="['/components/outer']">Outer & inner</a></li>
      <li><a [routerLink]="['/components/interpolation']">Interpolation</a></li>
      <li><a [routerLink]="['/components/property']">Property</a></li>
      <li><a [routerLink]="['/components/event']">Event</a></li>
      <li><a [routerLink]="['/components/twoway']">Two way</a></li>
      <li><a [routerLink]="['/components/ng-if']">*ngIf</a></li>
      <li><a [routerLink]="['/components/ng-for']">*ngFor</a></li>
    </ul>
  </div>
  <div class="pane">
    <h4>Input & output</h4>
    <ul>
      <li><a [routerLink]="['/io/directly']">Parent -> child directly</a></li>
      <li><a [routerLink]="['/io/intercept']">Parent -> child intercept</a></li>
      <li><a [routerLink]="['/io/event']">Child  -> parent</a></li>
      <li><a [routerLink]="['/io/local']">Local reference variable</a></li>
      <li><a [routerLink]="['/io/viewchild']">@ViewChild</a></li>
      <li><a [routerLink]="['/io/viewchildren']">@ViewChildren</a></li>
    </ul>
  </div>
  <div class="pane">
    <h4>Services</h4>
    <ul>
      <li><a [routerLink]="['/services/no-provider']">No provider</a></li>
      <li><a [routerLink]="['/services/singleton']">Singleton</a></li>
      <li><a [routerLink]="['/services/non-singleton']">Non singleton</a></li>
      <li><a [routerLink]="['/services/service-with-service']">Service with service</a></li>
    </ul>
  </div>
  <div class="pane">
    <h4>Async</h4>
    <ul>
      <li><a [routerLink]="['/async/simple']">Simple HTTP</a></li>
      <li><a [routerLink]="['/async/better']">Better async service</a></li>
      <li><a [routerLink]="['/async/cached']">Cached async service</a></li>
      <li><a [routerLink]="['/async/retry']">Retry when service</a></li>
      <li><a [routerLink]="['/async/autoRefresh']">Auto refresh service</a></li>
      <li><a [routerLink]="['/async/interval']">Interval (RxJS)</a></li>
      <li><a [routerLink]="['/async/wrap']">Wrap API (RxJS)</a></li>
      <li><a [routerLink]="['/async/refCount']">Ref count (RxJS)</a></li>
      <li><a [routerLink]="['/async/error']">Errors (RxJS)</a></li>
    </ul>
  </div>
  <div class="pane">
    <h4>Pipes</h4>
    <ul>
      <li><a [routerLink]="['/pipes/today']">Today</a></li>
      <li><a [routerLink]="['/pipes/buildin']">Build-in</a></li>
      <li><a [routerLink]="['/pipes/async']">Async pipe</a></li>
      <li><a [routerLink]="['/pipes/chaining']">Chaining</a></li>
      <li><a [routerLink]="['/pipes/phone']">Phone pipe</a></li>
      <li><a [routerLink]="['/pipes/pure']">Pure vs. impure</a></li>
    </ul>
  </div>
  <div class="pane">
    <h4>Routes</h4>
    <ul>
      <li><a [routerLink]="['/orders']">Orders</a></li>
    </ul>
  </div>
  <div>
    <h4>Unittest</h4>
    <ul>
      <li><a [routerLink]="['/unittest/component']">Hello world</a></li>
    </ul>
  </div>
  <div class="pane">
    <h4>Forms</h4>
    <ul>
      <li><a [routerLink]="['/form/person1']">Person form two way binding</a></li>
      <li><a [routerLink]="['/form/oneway']">Person form one way binding</a></li>
      <li><a [routerLink]="['/form/person2']">Person form CSS classes</a></li>
      <li><a [routerLink]="['/form/person3']">Person form Error message</a></li>
      <li><a [routerLink]="['/form/person4']">Person form ngForm template reference variable</a></li>
      <li><a [routerLink]="['/form/person5']">Person form ngForm no domain model</a></li>
      <li><a [routerLink]="['/form/person6']">Person form Model driven - FormGroup</a></li>
      <li><a [routerLink]="['/form/person7']">Person form Model driven - formBuilder</a></li>
      <li><a [routerLink]="['/form/search']">Search stand alone</a></li>
    </ul>
  </div>
</div>