<ul ngbNav class="nav-tabs mb-3" activeId="imperative">
  <li ngbNavItem="built-in">
    <a ngbNavLink routerLink="built-in" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Built-in</a>
  </li>
  <li ngbNavItem="built-in-class-dot">
    <a ngbNavLink routerLink="built-in-class-dot" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Built-in [class.]</a>
  </li>
  <li ngbNavItem="select-all">
    <a ngbNavLink routerLink="select-all" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Select all</a>
  </li>
  <li ngbNavItem="focus-empty">
    <a ngbNavLink routerLink="focus-empty" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Focus empty</a>
  </li>
</ul>
<router-outlet></router-outlet>