<div>
  <div class="modal-header">
    <h5 class="modal-title">{{playground.name}}</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <loop-edit-playground-control [formControl]="editControl"></loop-edit-playground-control>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Luk</button>
    <button type="button" [disabled]="editControl.invalid" class="btn btn-primary" (click)="save()">OK</button>
  </div>
</div>
