<aside tabindex="1">
  <nav>
    <div class="list-group">
      @if (location$ | async) {
        @for (playground of playgrounds; track playground) {
          <a
            class="list-group-item d-flex list-group-item-action justify-content-between"
            [class.active]="playground === selectedPlayground"
            (click)="selectPlayground(playground)">
            <div class="d-flex flex-column justify-content-between">
              <h6 class="mb-1">{{playground.name}}
                <span class="badge bg-secondary badge-pill">{{playground.position | distance}}</span>
              </h6>
              <small>{{playground.description | defaultDescription}}</small>
            </div>
            <div class="d-none d-sm-block">
              <div class="btn-group">
                <button class="btn btn-sm btn-primary" (click)="edit.next(playground); $event.stopPropagation(); $event.preventDefault()">
                  <fa-icon [icon]="['fas', 'edit']" [fixedWidth]="true"></fa-icon>
                </button>
              </div>
            </div>
          </a>
        }
      } @else {
        <div class="list-group-item d-flex justify-content-between">
          <span>Determining your location</span>
          <fa-icon size="lg" [icon]="['fas', 'spinner']" animation="spin"/>
        </div>
      }
    </div>
  </nav>
</aside>

