<h2>&#64;for & *ngFor</h2>
<div class="row g-5">
  <div class="col-12">
    <input class="form-control" type="text" #i (keyup.enter)="addInput(i.value)" autofocus>
  </div>
  <div class="col-auto">
    <code><pre>&#64;for - Up to 70% faster</pre></code>
    
    <ul class="mt-3 list-group">
      @for (item of items; track item) {
        <li class="list-group-item">{{item}}</li>
      }
    </ul>
  </div>
  <div class="col-auto">
    <code><pre>*ngFor (Will be removed in v22)</pre></code>
    <ul class="mt-3 list-group">
      <li class="list-group-item" *ngFor="let item of items; trackBy:myTrack">{{item}}</li>
    </ul>
  </div>

</div>