<div>
  <div class="modal-header">
    <h5 class="modal-title">{{playground.name}}</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <p>Modal body text goes here.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Luk</button>
    <button type="button" class="btn btn-primary">OK</button>
  </div>
</div>
