<h2>Ref count</h2>
<div class="d-flex">
  <span class="col-auto">{{date1 | date:'HH:mm:ss'}}</span>
  <button class="col btn btn-default" (click)="start1()">Start timer</button>
  <button class="col btn btn-default" (click)="stop1()">Stop timer</button>
</div>
<div class="d-flex">
  <span class="col-auto">{{date1 | date:'HH:mm:ss'}}</span>
  <button class="col btn btn-default" (click)="start2()">Start timer</button>
  <button class="col btn btn-default" (click)="stop2()">Stop timer</button>
</div>
