<h1>Build-in</h1>
<div class="pane-container center-content space-between">
  <div class="pane">
    <h2>Date</h2>
    <p>
      Today is {{today | date}}
    </p>
    <p>
      Today is {{today | date:'yy-MM-dd'}}
    </p>
    <p>
      Time is {{today | date:'hh:mm'}}
    </p>
    <input type="text" [(ngModel)]="format">
    <p>
      Formatted {{today | date:format}}
    </p>
  </div>
  <div class="pane">
    <h2>Uppercase & lowercase</h2>
    <input type="text" [(ngModel)]="name">
    <p>
      Uppercase {{name | uppercase}}
    </p>
    <p>
      Lowecase {{name | lowercase}}
    </p>
  </div>
  <div class="pane">
    <h2>Currency</h2>
    <p>
      Curerncy {{17.1234 | currency}}
    </p>
    <p>
      Curerncy {{17.1234 | currency:'USD':true}}
    </p>
    <p>
      Curerncy {{17.1234 | currency:'USD':true:'1.2-2'}}
    </p>
  </div>
  <div class="pane">
    <h2>JSON</h2>
    <p>
      JSON {{object | json}}
    </p>
  </div>
</div>