<ul ngbNav class="nav-tabs mb-3" activeId="imperative">
  <li ngbNavItem="json">
    <a ngbNavLink routerLink="json" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">JSON</a>
  </li>
  <li ngbNavItem="keyvalue">
    <a ngbNavLink routerLink="keyvalue" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">KeyValue</a>
  </li>
  <li ngbNavItem="async">
    <a ngbNavLink routerLink="async" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Async</a>
  </li>
  <li ngbNavItem="my-first">
    <a ngbNavLink routerLink="my-first" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">My first</a>
  </li>
  <li ngbNavItem="my-first-impure">
    <a ngbNavLink routerLink="my-first-impure" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">My first impure</a>
  </li>
</ul>
<router-outlet></router-outlet>