<article>
    <div class="row">
        <form focusEmpty [formGroup]="fg" (ngSubmit)="submit()" class="col-auto">
            <div class="form-group row">
                <div class="col">
                    <label class="form-label">First name</label>
                    <input class="form-control" type="text" formControlName="first">
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                    <label class="form-label">Last name</label>
                    <input class="form-control" type="text" formControlName="last">
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                    <label class="form-label">Age</label>
                    <input class="form-control" type="number" formControlName="age">
                </div>
            </div>
            <button class="btn btn-primary">Submit</button>
        </form>
        <div class="col d-flex flex-column">
            <pre>
                <code>
                    &lt;form <strong>focusEmpty</strong> [formGroup]="fg" (ngSubmit)="submit()" class="col-auto"&gt;
                        &lt;div class="form-group row"&gt;
                            &lt;div class="col"&gt;
                                &lt;label class="form-label"&gt;First name&lt;/label&gt;
                                <strong>&lt;input class="form-control" type="text" formControlName="first"&gt;</strong>
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class="form-group row"&gt;
                            &lt;div class="col"&gt;
                                &lt;label class="form-label"&gt;Last name&lt;/label&gt;
                                <strong>&lt;input class="form-control" type="text" formControlName="last"&gt;</strong>
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class="form-group row"&gt;
                            &lt;div class="col"&gt;
                                &lt;label class="form-label"&gt;Age&lt;/label&gt;
                                <strong>&lt;input class="form-control" type="number" formControlName="age"&gt;</strong>
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;button class="btn btn-primary"&gt;Submit&lt;/button&gt;
                    &lt;/form&gt;
                </code>
            </pre>
            <pre>
                <code>
                    @Directive(&#123; selector: '<strong>form[focusEmpty]</strong>' &#125;)
                      export class FocusEmptyDirective &#123;
                      
                        constructor(<strong>elementRef: ElementRef</strong>) &#123;&#125;
                      
                        <strong>@HostListener('submit')</strong>
                        onFormSubmit() &#123;
                          <strong>const emptyControl = this.elementRef.nativeElement.querySelector('input.ng-invalid:not([value]):not([value=""])');
                          emptyControl && emptyControl.focus();</strong>
                        &#125;
                      
                      &#125;
                      
                </code>
            </pre>
        </div>
    </div>
</article>

<ngb-alert *ngIf="submitted" class="mt-3" type="success">Submitted! 🥳</ngb-alert>