/* You can add global styles to this file, and also import other style files */

@use "node_modules/@fontsource/jetbrains-mono";
@use "node_modules/@fontsource/andika";

$font-family-sans-serif: "Andika";
$font-family-monospace: "JetBrains Mono";
$font-weight-normal: 500;

/* Importing Bootstrap SCSS file. */
@use "node_modules/bootstrap/scss/bootstrap";

@use "styles/aside";
@use "styles/footer";