<leaflet [center]="center" [markers]="markers$"></leaflet>
<ng-template #playgroundTemplate let-playground>
  <loop-sidebar-list-item [playground]="playground" [location]="location$ | async" [selected]="(playground$ | async) === playground">
    <button class="btn btn-sm btn-secondary" (click)="playground$.next(playground)">
      <fa-icon [icon]="['fas', 'check']"></fa-icon>
    </button>
  </loop-sidebar-list-item>
</ng-template>

<loop-sidebar [filterFn]="filterFn$ | async" [itemTemplate]="playgroundTemplate"></loop-sidebar>
<ng-template
  *ngIf="playground$ | async as playground"
  [ngComponentOutlet]="component"
  [ndcDynamicInputs]="{ playground }">
</ng-template>