<div class="row">
  <div class="col-auto btn-group">
    <button class="btn btn-primary" (click)="fetchPlaygrounds()">Fetch playgrounds</button>
    <button [disabled]="!playgrounds?.length" class="btn btn-outline-warning" (click)="playgrounds = []">Clear</button>
  </div>
</div>
<article class="row w-100">
  <div class="col">
    <ul class="list-group mt-3">
      <li class="list-group-item">
        <div class="row">
          <input type="text" placeholder="Filter playgrounds" class="col" autofocus [(ngModel)]="term" (ngModelChange)="filterPlaygrounds()">
        </div>
      </li>
      <li class="list-group-item" *ngFor="let p of playgrounds; trackBy: trackById">
        {{p.name}}
        <span class="badge badge-primary">{{getDistance(p)}}</span>
      </li>
    </ul>
  </div>
</article>