/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "scss/variables";
@import "bootstrap/scss/bootstrap";

@font-face {
  font-family: 'Lato';
  src: url('assets/lato/Lato-Regular.ttf') format('truetype'),
  url('assets/lato/Lato-Black.ttf') format('truetype'),
  url('assets/lato/Lato-BlackItalic.ttf') format('truetype'),
  url('assets/lato/Lato-Bold.ttf') format('truetype'),
  url('assets/lato/Lato-BoldItalic.ttf') format('truetype'),
  url('assets/lato/Lato-Italic.ttf') format('truetype'),
  url('assets/lato/Lato-Light.ttf') format('truetype'),
  url('assets/lato/Lato-LightItalic.ttf') format('truetype'),
  url('assets/lato/Lato-Thin.ttf') format('truetype'),
  url('assets/lato/Lato-ThinItalic.ttf') format('truetype')
}

body {
  font-family: 'Lato', 'Times New Roman', Times, serif;
  height: 100vh;
  width: 100vw;
}


aside {
  position: fixed;
  right: 20px;
  top: 20px;
  max-height: calc(100vh - 40px);
  background-color: #ffffff;
  width: 350px;
  border-radius: 6px;
  box-shadow: 2px 2px 2px #808080;
  overflow: auto;
  z-index: 501;
  transition: 0.43s ease-in-out;
  form {
      margin-bottom: 0;
  }
  > nav {
      max-height: calc(100vh - 86px);
      overflow: auto;
  }
  @media screen and (max-width: 599px) {
      border-radius: 0;
      top: calc(100vh - 20px);
      right: 0;
      width: 100%;
      height: calc(50vh + 20px);
      border-top: 18px solid black;
      margin: 0;
      transition: 0.43s ease-in-out;
      &:focus {
        border-top-color: orange;
        transform: translateY(-50vh);
      }
  }

}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #FFF;
  padding-left: 8px;
  background-color:rgba(0, 0, 0, 0.5);
  z-index: 500;
  @media screen and (max-width: 599px) {
      bottom: 20px;
  }
}

input.ng-touched.ng-invalid {
  border-color: var(--bs-danger)
}

input.ng-touched.ng-valid {
  border-color: var(--bs-success)
}
