<ng-template #defaultTemplate let-item>
  <li class="list-group-item">{{item}}</li>
</ng-template>
<aside tabindex="1">
  <nav>
    <div class="row">
      <div class="col">
        <input id="filter" [formControl]="filterControl" autofocus type="text" class="form-control form-control-lg">
      </div>
    </div>
    <div class="list-group">
      @for(item of filtered$ | async; track $index) {
        <ng-container
          [ngTemplateOutlet]="itemTemplate ?? defaultTemplate" 
          [ngTemplateOutletContext]="{$implicit: item}"/>
      }
    </div>
  </nav>
</aside>