<!-- <div class="row">
<div class="col">
  Showing {{(playgrounds$ | async)?.length}} playgrounds
</div>
</div> -->
<article class="row w-100">
  <div class="col">
    <ul class="list-group mt-3">
      <li class="list-group-item">
        <div class="row">
          <input type="text" placeholder="Filter playgrounds" class="col" autofocus [formControl]="filterControl">
        </div>
      </li>
      @if (playgrounds$ | async; as playgrounds) {
        @for (p of playgrounds; track trackById($index, p)) {
          <li class="list-group-item d-flex">
            <ngb-highlight [term]="filterControl.value" [result]="p.name"></ngb-highlight>
            <span class="ms-2 badge bg-primary">{{p | distance:(location$ | async)}}</span>
          </li>
        }
      }
    </ul>
  </div>
</article>
