<div class="row">
  <div class="col-auto btn-group">
    <button class="btn btn-primary" (click)="refresh$.next()">Refresh</button>
  </div>
</div>
<article class="row w-100">
  <div class="col">
    <ul class="list-group mt-3">
      <li class="list-group-item">
        <div class="row">
          <input type="text" placeholder="Filter playgrounds" class="col" autofocus [formControl]="filterControl">
        </div>
      </li>
      <ng-container  *ngIf="playgrounds$ | async as playgrounds" >
        <li class="list-group-item d-flex" *ngFor="let p of playgrounds; trackBy: trackById">
          <ngb-highlight [term]="filterControl.value" [result]="p.name"></ngb-highlight>
          <span class="ms-2 badge bg-primary">{{p | distance:(location$ | async)}}</span>
        </li>
      </ng-container>
    </ul>
  </div>
</article>
