<aside tabindex="1">
  <nav>
    <div class="list-group">
      <a class="list-group-item" [class.active]="playground === selectedPlayground" *ngFor="let playground of playgrounds" (click)="selected.emit(playground)">
        <span class="badge">{{playground.position | distance | humanizeDistance}}</span>
        <h4 class="list-group-item-heading">{{playground.name}}</h4>
        <p class="list-group-item-text">{{playground.description | defaultDescription}}</p>
      </a>
    </div>
  </nav>
</aside>