<div class="form-group">
  <label for="exampleInputEmail1">Email address</label>
  <input #inputControl [ngbPopover]="popContent" triggers="mouseenter:mouseleave" type="email" class="form-control col-6" id="exampleInputEmail1" [formControl]="emailControl">
</div>
<div class="row">
  <div class="col-4">
    <input class="form-control" type="text" #value>
  </div>
  <div class="col-auto">
    <button class="btn btn-primary" (click)="emailControl.patchValue(value.value, {emitEvent: emitEventControl.value})">Patch</button>
  </div>
  <div class="col-auto">
    <button class="btn btn-primary" (click)="emailControl.reset(value.value, {emitEvent: emitEventControl.value})">Reset</button>
  </div>
  <div class="col-auto my-auto">
    <input class="form-check-input" [formControl]="emitEventControl" type="checkbox" value="" id="emitEvent">
    <label class="form-check-label" for="emitEvent">
      Emit event
    </label>
  </div>
</div>
<div class="mt-3 row flex-wrap">
  <div class="col-4">Value</div>
  <div class="col-8"> {{emailControl.value}}</div>
  <div class="col-4">Valid</div>
  <div class="col-8"> {{emailControl.valid}}</div>
  <div class="col-4">Touched</div>
  <div class="col-8"> {{emailControl.touched}}</div>
  <div class="col-4">Dirty</div>
  <div class="col-8"> {{emailControl.dirty}}</div>
</div>
<ng-template #popContent>
  CSS classes: <strong>{{inputControl.className}}</strong>
</ng-template>