<article  class="row w-100">
  <div class="col">
    <ul class="list-group mt-3">
      <li class="list-group-item">
        <loop-random></loop-random>
      </li>
      <li class="list-group-item">
        <loop-random></loop-random>
      </li>
      <li class="list-group-item">
        <loop-random></loop-random>
      </li>
      <li class="list-group-item">
        <loop-random-wrapper>
          <loop-random></loop-random>
        </loop-random-wrapper>
      </li>
      <li class="list-group-item">
        <loop-random-wrapper>
          <loop-random></loop-random>
        </loop-random-wrapper>
      </li>
    </ul>
  </div>
</article>