<h2>&#123; &#123; interpolation &#125; &#125;</h2>
<ul class="list-group">
  <li class="list-group-item">Property string: {{propertyString}}</li>
  <li class="list-group-item">Property number: {{propertyNumber}}</li>
  <li class="list-group-item">Property object: {{propertyObject.property}}</li>
  <li class="list-group-item">Property null: {{propertyNull}}</li>
  <li class="list-group-item">Property null - wont fail: {{propertyNull?.property}}</li>
  <!-- <li class="list-group-item">Property null - will fail: {{propertyNull.property}}</li> -->
  <li class="list-group-item">Simple method: {{simpleMethod()}}</li>
  <li class="list-group-item">Parameter method: {{parameterMethod('world')}}</li>
  <li class="list-group-item">Simple expressions: {{40+2}}</li>
  <!--<li class="list-group-item">New object - will fail {{new Date()}}</li>-->
</ul>