<ul ngbNav class="nav-tabs mb-3" activeId="imperative">
  <li ngbNavItem="ng-if">
    <a ngbNavLink routerLink="ng-if" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">ngIf</a>
  </li>
  <li ngbNavItem="ng-for">
    <a ngbNavLink routerLink="ng-for" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">ngFor</a>
  </li>
  <li ngbNavItem="ng-switch">
    <a ngbNavLink routerLink="ng-switch" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">ngSwitch</a>
  </li>
  <li ngbNavItem="is-in-role">
    <a ngbNavLink routerLink="is-in-role" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">isInRole</a>
  </li>
  <!-- <li ngbNavItem="performance">
    <a ngbNavLink routerLink="performance" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Performance</a>
  </li> -->
</ul>
<router-outlet></router-outlet>