<article class="row w-100">
  <div class="col">
    <input type="text" placeholder="Filter playgrounds" class="w-100 form-control" autofocus [formControl]="filterControl">
    <ul class="list-group mt-3">
      @if (playgrounds$ | async; as playgrounds) {
        @for (p of playgrounds; track trackById($index, p)) {
          <a class="list-group-item" [routerLink]="[p.id]" queryParamsHandling="merge">
            {{p.name}}
          </a>
        }
      }
    </ul>
  </div>
</article>
<article class="row w-100 mt-3">
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</article>