/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
}
body {
    background-color: lightgrey;
}

body > .pane-container {
    height: 100%;
}

undefined {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
}

.pane-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    &.wrap {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    &.vertical {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    &.center-content {
        -webkit-justify-content: center;
        justify-content: center;
    }
    &.horizontal {
        -webkit-flex-direction: row;
        flex-direction: row;
    }
}



.pane {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    &.center-self {
        align-self: center;
        -webkit-align-self: center;
    }
}
.pane-50 {
    -webkit-flex: 1 1 50%;
    flex: 1 1 50%;
}

.pane-33 {
    -webkit-flex: 0 0 33%;
    flex: 0 0 33%;
}

.pane.fixed-size {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
}

aside {
    position: fixed;
    right: 20px;
    top: 20px;
    max-height: calc(100vh - 40px);
    background-color: #ffffff;
    width: 350px;
    border-radius: 6px;
    box-shadow: 2px 2px 2px #808080;
    overflow: auto;
    z-index: 500;
    transition: 0.43s ease-in-out;
    form {
        margin-bottom: 0;
    }
    > nav {
        max-height: calc(100vh - 86px);
        overflow: auto;
    }
    @media screen and (max-width: 599px) {
        border-radius: 0;
        top: calc(100vh - 20px);
        right: 0;
        width: 100%;
        height: calc(50vh + 20px);
        border-top: 8px solid black;
        margin: 0;
        transition: 0.43s ease-in-out;
        &:focus {
          border-top-color: orange;
          transform: translateY(-50vh);
        }
    }

}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFF;
    padding-left: 8px;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 10000;
}

.padding {
    padding: 16px;
}

div.list-group {
    margin-bottom: 0;
}

.input-group .form-control:last-child, .input-group-addon:first-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

section.relative{
    position: relative;
}

section.details-top form {
    padding: 16px;
    margin: 0;
}

section.details-bottom header {
    border-top: solid 1px darkgray;
    border-bottom: solid 1px darkgray;
    box-shadow: 0px 0px 1px #808080;
}

.clickable {
    cursor: pointer;
}
