<div class="d-flex min-vh-100">
  <div class="px-0 d-flex">
    <ul ngbNav #nav="ngbNav" class="nav-pills" orientation="vertical">
      <li ngbNavItem>
        <a ngbNavLink routerLink="/rxjs" routerLinkActive="active">RxJS</a>
      </li>
      <li ngbNavItem>
        <a ngbNavLink routerLink="/di" routerLinkActive="active">DI</a>
      </li>
      <li ngbNavItem>
        <a ngbNavLink routerLink="/components" routerLinkActive="active">Components</a>
      </li>
      <li ngbNavItem>
        <a ngbNavLink routerLink="/reactive-forms" routerLinkActive="active">Reactive forms</a>
      </li>
      <li ngbNavItem>
        <a ngbNavLink routerLink="/routing" routerLinkActive="active">Routing</a>
      </li>
      <li ngbNavItem>
        <a ngbNavLink routerLink="/pipes" routerLinkActive="active">Pipes</a>
      </li>
      <li ngbNavItem>
        <a ngbNavLink routerLink="/signals" routerLinkActive="active">Signals</a>
      </li>
      <li ngbNavItem [disabled]="true">
        <a ngbNavLink>Directives</a>
      </li>
      <li ngbNavItem>
        <a class="ml-3" ngbNavLink routerLink="/directives/attribute" routerLinkActive="active">Attribute</a>
      </li>
      <li ngbNavItem>
        <a class="ml-3" ngbNavLink routerLink="/directives/structural" routerLinkActive="active">Structural</a>
      </li>
    </ul>
  </div>
  <div class="m-5 col">
    <router-outlet></router-outlet>
  </div>
</div>
<img class="d-none d-lg-block" [style.z-index]="1000" height="256" src="assets/angular.png">