<div class="d-flex min-vh-100">
  <div class="px-0 d-flex">
    <ul ngbNav #nav="ngbNav" class="nav-pills" orientation="vertical">
      <li ngbNavItem>
        <a ngbNavLink routerLink="/rxjs" routerLinkActive="active">RxJS</a>
      </li>
      <li ngbNavItem>
        <a ngbNavLink routerLink="/di" routerLinkActive="active">DI</a>
      </li>
      <li ngbNavItem>
        <a ngbNavLink routerLink="/components" routerLinkActive="active">Components</a>
      </li>
    </ul>
  </div>
  <div class="m-5 col">
    <router-outlet></router-outlet>
  </div>
</div>
<img height="256" src="assets/angular.svg">